CREATE PROCEDURE registrasi_admin( IN uname VARCHAR(255), IN pass VARCHAR(255) )
BEGIN DECLARE errno INT; DECLARE uuid CHAR(36); DECLARE EXIT HANDLER FOR
SQLEXCEPTION BEGIN SIGNAL SQLSTATE "45000" SET MESSAGE_TEXT = "Error"; ROLLBACK;
END; DECLARE exit handler for sqlwarning BEGIN SIGNAL SQLSTATE "45000" SET
MESSAGE_TEXT = "Warning"; ROLLBACK; END; SET uuid = UUID(); START TRANSACTION;
INSERT INTO users(uuid, username, password, role, created_at, updated_at) VALUES
(uuid, uname, pass, "admin", NOW(), NOW()); COMMIT; END
